{% extends 'base.html' %} 
{% load static %} 
{% block content %} 
<section style="background-color: #eee">
  <div class="container-fluid py-5 row justify-content-center">
      <div class="col-lg-3 col-md-4 col-sm-4 ">
        <div class="card mb-4">
          <div class="card-body text-center p-3">
            {% comment %} Avatar Static or Media Img {% endcomment %}
            {% if 'default_icon' in current_user_avatar.avatar.url %}
            <img src="{% static 'images/default_icon.jpg' %}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px"/>
            {% else %}
            <img
              src="{{ current_user_avatar.avatar.url }}"
              alt="avatar"
              class="rounded-circle img-fluid"
              style="width: 150px"
            />
            {% endif %}

            {% comment %} All Listing or Messaage Button {% endcomment %}
            <h5 class="my-3">{{ current_user.username }}</h5>
            <p class="text-muted mb-1">
              {{ current_user.first_name }} {{ current_user.last_name }}
            </p>
            <p class="text-muted mb-4">{{ current_user.email }}</p>
            <div class="d-flex justify-content-around m-2 p-2">
              <button type="button" class="btn btn-primary">
                View All Listing
              </button>
              <button type="button" class="btn btn-outline-primary ms-1">
                Message
              </button>
            </div>
          </div>
        </div>

        {% comment %} ERROR USER REVIEW CATCH {% endcomment %}
        {% if error_message %}
        <div class="text-center font-size-14 text-danger">
          {{ error_message }}
        </div>
        {% endif %}

        {% comment %} REVIEW FORM {% endcomment %}
        {% if form %}
        <form method="post" class='p-3'>
          {% csrf_token %}
          <div class='text-center'>Comment A Review</div>
          {{ form.comment }}
          <div class='text-center'>Rate Account</div>
          {{ form.rating.as_hidden }}
          
          <div class="row justify-content-center star-rating pb-2">
              <a style="color: orange" name='rating' href="#" class='font-size-14' data-value="1">★</a>
              <a style="color: orange" name='rating' href="#" class='font-size-14' data-value="2">★</a>
              <a style="color: orange" name='rating' href="#" class='font-size-14' data-value="3">★</a>
              <a style="color: orange" name='rating' href="#" class='font-size-14' data-value="4">★</a>
              <a style="color: orange" name='rating' href="#" class='font-size-14' data-value="5">★</a>
          </div>

      
          <button class='col-md-12 p-2 btn-primary' type="submit">Submit Rating</button>
        </form>
        {% endif %}

        {% comment %} COMMENT SECTION {% endcomment %}
        <div>
        {% include 'partials/_comment_section.html' %}
        </div>
      </div>

      <div class="col-lg-7 font-size-14">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ current_user.first_name }} {{ current_user.last_name }}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ current_user.email }}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Number of Listed Products</p>
              </div>
              <div class="col-sm-9">
                <a class="mb-0 text-secondary" href="{% url 'index' %}"> {{ total_products }} <span class='text-primary'>(View All Product)</span></a>
              </div>
            </div>
          </div>
        </div>
        
        {% comment %} 3 Product Listing {% endcomment %}
        <div class='text-center'>
          <h3 class='text-light bg-dark py-3'> Newest Products By {{ current_user.username }}<h3>
        </div>
        <div class='container style-theme rounded'>
          <div>
            {% for product in account_products %}
            <div class="container py-3 text-center">
              <div class="row justify-content-center ">
                  <div class="card bg-dark" style="width: 36rem;">
                    <div class="card-body">
                      <h4 class="card-title rounded mx-5 m-2">{{ product.name }}</h4>
                      <hr class="py-1 bg-muted">
                      <a href="#">
                        <img src="{{ product.image.url }}" class="card-img-top" style="height: 275px;" alt="product.title">
                      </a>
                      <h5 class="card-title py-4 text-white">{{ product.description }}</h5>
                      <h6 class="card-subtitle mb-2"></h6>
                      <hr class="py-1 bg-muted">
                      <p class="card-text text-center">{{ product.price }}</p>
                      <div class="row justify-content-between">
                        <button class="btn btn-primary">Add To Cart</button>
                        <button class="btn btn-primary">Buy Now</button>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function() {
      const ratingLinks = document.querySelectorAll('.star-rating a');

      ratingLinks.forEach(function(link) {
          link.addEventListener('click', function(event) {
              event.preventDefault();

              const ratingValue = event.target.getAttribute('data-value');
              document.querySelector('#id_rating').value = ratingValue;
          });
      });
  });
</script>
{% endblock %}
