{% block content %} {% load static %}
<nav class="navbar navbar-expand-sm navbar-dark rounded style-theme sticky-top">
  <a class="navbar-brand" href="{% url 'index' %}">K Commerce</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto mr-5">

      {% comment %} Nav Links {% endcomment %}
      <a class="nav-item nav-link active mr-3" href="{% url 'index' %}">Home</a>
      <a class="nav-item nav-link mr-3" href="#">Featured Product</a>
      <a class="nav-item nav-link mr-3" href="#">Products</a>
      <a class="nav-item nav-link mr-3" href="#">Cart</a>

      {% comment %} Account Drop {% endcomment %}
      <ul class='list-unstyled'>
        <li class="nav-item dropdown mr-3">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
            >Account Settings</a
          >
          <div class="dropdown-menu dropdown-menu-end">
            <a href="{% url 'login' %}" class="dropdown-item nav-item">Login</a>
            <a href="#" class="dropdown-item nav-item">Profile</a>
            <a href="#" class="dropdown-item nav-item">Settings</a>
            <div class="dropdown-divider"></div>
            <a href="{% url 'signup' %}" class="dropdown-item nav-item">Register</a>
            <a href="#" class="dropdown-item nav-item">Logout</a>
          </div>
        </li>
      </ul>
      {% comment %} Account Drop {% endcomment %}


      {% comment %} Account Drop {% endcomment %}
      <ul class='list-unstyled'>
        <li class="nav-item dropdown mr-3">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
            >Commerical Setting</a
          >
          <div class="dropdown-menu dropdown-menu-end">
            <a href="#" class="dropdown-item nav-item">View Listed Products</a>
            <a href="#" class="dropdown-item nav-item">Add Product</a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item nav-item">Logout</a>
          </div>
        </li>
      </ul>
      {% comment %} Account Drop {% endcomment %}
    </div>
  </div>
</nav>
{% endblock %}
